@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: "Poppins", sans-serif;

    --corTema: #f16992;
    --cor1: #F5AAB0;
    --cor2: #aaf3f5;
    --cor3: #fcf8c7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    font-family: var(--font);
}

header {
    position: sticky;
    top: 0;
    left: 0;

    background-color: #f5f5f5;
    backdrop-filter: blur(4px) brightness(90%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 75px;
    padding: 0 1em;
    z-index: 1;

    box-shadow: 0px 2px 5px #0000002b;
}

header #logo_container {
    display: flex;
    align-items: center;
    gap: 1em;
}

header #logo_container h2 {
    display: none;
    font-variant: small-caps;
    font-size: 2em
}

header #nav-bar {
    display: none;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    gap: 21px;

    list-style: none;
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--corTema);
}

header nav ul li a::before {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: var(--corTema);
    position: absolute;
    bottom: 0;
    transition: all .3s ease;
}

header nav ul li a:hover:not(#contato-button):before {
    width: 100%;
}

header nav ul li a#contato-button {
    color: #f5f5f5;
    background-color: var(--corTema);

    font-size: 1em;
    border-radius: 21px;
    padding: 8px 13px;

    cursor: pointer;
}

#menu-icon {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--corTema);
}

#menu_mobile.hidden{
    display: none;
}

#menu_mobile{
    position: fixed;
    top: 75px;

    background-color: #f5f5f5;
    width: 100vw;
    z-index: 1;

    box-shadow: 0px 2px 5px #00000036;
}
#menu_mobile ul li{
    border-top: 1px solid #0000001e;
}
#menu_mobile ul li a{
    display: block;
    padding: 10px;

    text-align: center;
    text-decoration: none;
    color:  var(--corTema);
    cursor: pointer;
}
#menu_mobile ul li a:hover{
    backdrop-filter: brightness(.9);
}


/* Home */

section {
    padding: 1em;
}

#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    min-height: calc(100vh - 75px);
    background-image: linear-gradient(20deg, var(--cor1), transparent);
    overflow: hidden;
}

#home #home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 21px;
    width: min(700px, 100%);
}

#home #home-container h2 {
    font-size: 1.7em;
}

#home #home-container h2 span {
    white-space: nowrap;
    color: var(--corTema);
}

#home #home-container button {
    all: unset;

    color: #f5f5f5;
    background-color: var(--corTema);

    font-size: 1.5em;
    border-radius: 21px;
    padding: 8px 13px;

    cursor: pointer;
}

#home picture {
    background-size: cover;
    max-width: 500px;
    backdrop-filter: blur(4px);
}

#home picture img {
    aspect-ratio: unset;
    transform: rotate(335deg);
    max-width: min(500px, 60vw);
    max-height: calc(100vh - 75px);
    height: auto;
    width: auto;
}

#frutas-img {
    position: absolute;
    top: 100px;
    right: -100px;
    filter: blur(6px);
    z-index: -1;
}

#infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 3em;
    gap: 2em;
}

#infos div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;

    height: 300px;
    width: min(250px,100%);

    text-align: center;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px #2222222e;
}

#infos div span {
    color: var(--corTema);
    text-shadow: 2px 2px 1px #22222254;

}

#infos div span i {
    font-size: 3em;
}

#infos div span h3 {
    font-size: 1.5em;
}

#infos div p {
    max-width: 250px;
}

.section-titulo {
    font-variant: small-caps;
    text-align: center;
    font-weight: normal;
    font-size: 2.5em;
}

.carrosel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow-x: scroll;

    padding: 2em;
    gap: 2.5em;
}

.carrosel::-webkit-scrollbar {
    height: 10px;
}

.carrosel::-webkit-scrollbar-track {
    background-color: #72727227 ;
    border-radius: 10px;
}

.carrosel::-webkit-scrollbar-thumb {
    background: var(--cor1);
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-shrink: 0;
    width: min(300px, 100%);
    text-align: center;
}

.card h3 {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 1.5em;
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;

    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.card span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.fa-star,
.fa-star-half-stroke,
.fa-star.fa-regular {
    color: #f5bc00;
}

#section_avaliacoes h3 {
    margin-bottom: 2em;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

.container_avaliacoes {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.container_avaliacoes picture img {
    width: min(400px, 60vw);
}

.avaliacao {
    max-width: 500px;
    min-height: 150px;

    padding: 1em;
    box-shadow: 1px 2px 5px 1px #2222222e;
    background-color: #f5f5f5   ;
}

.avaliacao:last-child {
    margin-top: 1em;
}

.avaliacao div,
.avaliacao .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.avaliacao img {
    border-radius: 50%;
    max-width: 70px;
    aspect-ratio: 1/1;
}